Repository cpe-kmutt-student/bangmod-hackathon-2023, pull requests merged in 2022-10, with the labels that each got.

#33 [BACKLOG] Complete the Authentication system with Session Cookie
  apps/backend/global.d.ts
  apps/backend/prisma/schema.prisma
  apps/backend/src/controller/AuthController.ts
  apps/backend/src/database/repository/SessionRepository.ts
  apps/backend/src/middleware/AuthMiddleware.ts
  apps/backend/src/service/AuthService.ts
  apps/backend/src/utils/Types.ts
Labels: backend, epic: auth & comm

#34 Refactor AuthContext in frontend and some in backend
  apps/backend/src/Server.ts
  apps/backend/src/controller/AuthController.ts
  apps/backend/src/middleware/DevCorsMiddleware.ts
  apps/backend/src/service/AuthService.ts
  apps/registration/.env
  apps/registration/package.json
  apps/registration/src/App.tsx
  apps/registration/src/components/Welcome.tsx
  apps/registration/src/contexts/AuthContext.tsx
  apps/registration/src/utils/Fetch.ts
  packages/api-schema/src/index.ts
  yarn.lock
Labels: enhancement, frontend, backend, epic: auth & comm

#47 Drop Down
  apps/registration/src/components/PrefixDropDown.tsx
Labels: frontend

#48 Allow user to upload a document
  apps/backend/.gitignore
  apps/backend/global.d.ts
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/Server.ts
  apps/backend/src/controller/FileController.ts
  apps/backend/src/database/repository/FileRepository.ts
  apps/backend/src/middleware/CompressionMiddleware.ts
  apps/backend/src/middleware/FileMiddleware.ts
  apps/backend/src/service/FileService.ts
  apps/backend/src/utils/decorator/FileDecorator.ts
  apps/backend/src/utils/seaweedfs/SeaweedClient.ts
  apps/backend/src/utils/seaweedfs/SeaweedStorageEngine.ts
  packages/api-schema/src/index.ts
  yarn.lock
Labels: enhancement, backend

#53 feat(registration): navbar
  apps/registration/src/App.tsx
  apps/registration/src/assets/image/bg1.png
  apps/registration/src/assets/image/bg2.png
  apps/registration/src/assets/image/logo.png
  apps/registration/src/components/Navbar.tsx
  apps/registration/src/pages/HomePage.tsx
  apps/registration/src/pages/RegisterPage.tsx
Labels: enhancement, frontend, epic: announcement

#58 Add Scope part
  apps/registration/src/components/ScopeSection.tsx
  apps/registration/src/pages/HomePage.tsx
Labels: enhancement, frontend, epic: announcement

#82 Improve registration form ux/ui
  apps/backend/global.d.ts
  apps/backend/prisma/schema.prisma
  apps/backend/src/Server.ts
  apps/backend/src/controller/AuthController.ts
  apps/backend/src/controller/FileController.ts
  apps/backend/src/controller/InputController.ts
  apps/backend/src/database/repository/FileRepository.ts
  apps/backend/src/database/repository/ParticipantRepository.ts
  apps/backend/src/database/repository/TeamRepository.ts
  apps/backend/src/database/repository/UserRepository.ts
  apps/backend/src/middleware/DevCorsMiddleware.ts
  apps/backend/src/middleware/FileMiddleware.ts
  apps/backend/src/service/FileService.ts
  apps/backend/src/service/InputService.ts
  apps/backend/src/utils/decorator/FileDecorator.ts
  apps/backend/src/utils/seaweedfs/SeaweedClient.ts
  apps/registration/package.json
  apps/registration/src/App.tsx
  apps/registration/src/assets/css/dropDownStyle.css
  apps/registration/src/components/ConsentForm.tsx
  apps/registration/src/components/ContactSection.tsx
  apps/registration/src/components/DropDown.tsx
  apps/registration/src/components/EmailInputbox.tsx
  apps/registration/src/components/Hero.tsx
  apps/registration/src/components/ImageInputBox.tsx
  apps/registration/src/components/InputName.tsx
  apps/registration/src/components/Inputbox.tsx
  apps/registration/src/components/PhoneInput.tsx
  apps/registration/src/components/RegistrationForm.tsx
  apps/registration/src/components/Spinner.tsx
  apps/registration/src/components/StudentForm.tsx
  apps/registration/src/components/TeamForm.tsx
  apps/registration/src/components/TextAreaBox.tsx
  packages/api-schema/src/index.ts
  yarn.lock
Labels: enhancement, frontend, backend, epic: input box
